
Base64

<div class="span8">
  <h2>Base64 Strict Encode</h2>
    <form action='/' method='post'>
    <input class="field span12" name="string_to_strict64_encode" value="<%= @string_to_strict64_encode %>">
 <input class="btn btn-primary" type="submit" name="login" value="Encode it!" />
</form>
</div>


<div class="span8">
  <h2>Base64 Strict Decode</h2>
    <form action='/' method='post'>
    <input class="field span12" name="string_to_strict64_decode" value="<%= @string_to_strict64_decode %>">
 <input class="btn btn-primary" type="submit" name="login" value="Decode it!" />
</form>
</div>
